*{
    margin: 0;
    padding: 0;
    font-family: 'Arimo', sans-serif;
    color: #484848;
}
.container{
    width: 1190px;
    margin: 0 auto;
}
.main-content {
    width: 100%;
    border: 25px solid #3A4965;
    border-collapse: collapse;
    text-transform: uppercase;
    text-align: center;
    table-layout: auto;
    background-color: #F2F2F2;
}
.table-head{
    background-color: #ffffff;
}
.table-row:nth-of-type(even){
    background-color: #E3E3E3;
}
.bg-yellow-green{
    background-color: #89C331;
}
.bg-carnation{
    background-color: #F04A56;
}
.bg-elm{
    background-color: #20807C ;
}
.bg-tundora{
    background-color: #484848;
}
.header-pre-title{
    font-size: 18px;
}
.header-title{
    margin-top: 2px;
    font-size: 30px;
}
.header-plan{
    font-size: 24px;
    color: #ffffff;
    padding-top: 14px;
}
.best-proposition{
    padding: 25px 0 18px;
    font-size: 30px;
}
td {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.price-row{
    text-align: justify;
}
.price {
    position: relative;
    font-size: 60px;
    font-weight: bold;
    padding: 25px 0 0 35px;
}
.price-coins {
    position: absolute;
    top: 20px;
    font-size: 24px;
}
.price-plan {
    position: absolute;
    top: 44px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
    display: inline-block;
}
.properties-row{
    padding: 22px 0;
}
.icons{
    font-size: 24px;
    margin-right: 10px;
    vertical-align: middle;
}
.title-column{
    display: inline-block;
    vertical-align: middle;
}
.footer-btn{
    display: inline-block;
    font-weight: bold;
    width: 195px;
    border-radius: 5px;
    padding: 15px 0 11px;
    text-decoration: none;
    margin: 30px auto;
    color: white;
    transition: .3s;
}
.footer-btn-tundora{
    background: #484848;
    box-shadow: 0 5px 0 #404040;
}
.footer-btn-yellow-green{
    background: #89C331;
    box-shadow: 0 5px 0 #79B027;
}
.footer-btn-carnation{
    background: #F04A56;
    box-shadow: 0 5px 0 #DF3A46;
 }
.footer-btn-elm{
    background: #20807C;
    box-shadow: 0 5px 0 #16736F;
}
.footer-btn:hover {
    background: #6FC6FF;
    color: #333333;
    box-shadow: 0 5px 0 #4f93c1;
    transform: scale(1.2);
}