*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
.page-bg {
    background: url("../img/main-top-background.png") center no-repeat;
    height: 100vh;
    overflow-y: scroll;
    background-size: cover;
}
.header{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 0;
}
.container{
    width: 1160px;
    margin: 0 auto;
}
.header-nav {
    float: right;
}
.header-company-name{
    text-transform: uppercase;
    float: left;
    text-decoration: none;
}
.header-company-name h1{
    color: #ffffff;
    font-size: 22px;
    margin: 0;
}
.header-info-link{
    margin-right: 28px;
    text-decoration: none;
}
.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
}
.sprite-google {
    width: 25px;
    height: 20px;
    background-position: -4px -1px;
}
.sprite-facebook {
    width: 25px;
    height: 20px;
    background-position: -32px -4px;
}
.sprite-ic_calendar {
    width: 20px;
    height: 20px;
    background-position: -60px -5px;
}
.sprite-ic_calendar:hover{
    width: 20px;
    height: 20px;
    background-position: -90px -5px;
}
.sprite-ic_forum {
    width: 28px;
    height: 20px;
    background-position: -119px -5px;
}
.sprite-ic_forum:hover{
    width: 28px;
    height: 20px;
    background-position: -157px -5px;
}
.sprite-ic_journey {
    width: 20px;
    height: 20px;
    background-position: -195px -5px;
}
.sprite-ic_journey:hover{
    width: 20px;
    height: 20px;
    background-position: -225px -5px;
}
.header-company-name h1:hover, .header-sign-up-link:hover{
    color: #3CB878;
}
.header-log-in{
    color: white;
    float: right;
    font-size: 14px;
    cursor: default;
}
.header-log-in:before{
    content: " ";
    font-size: 17px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    margin-right: 28px;
}
.header-sign-up-link{
    text-decoration: none;
    color: inherit;
    text-transform: capitalize;
}
.sign-up{
    margin: 0 auto;
    width: 444px;
    transform: translateY(calc((100vh - 664px - 65px)/2));
    background: #FFFFFF;
    box-shadow: 0 4px 42px rgba(0, 0, 0, 0.76);
    border-radius: 4px;
    padding: 30px 60px;
}
.sign-up-h3{
    font-size:20px;
    text-transform: capitalize;
    font-weight: normal;
    float: left;
}
.sign-up-h3:before{
    content: "";
    font-size: 0;
    border: 9px solid #3CB878;
    position: absolute;
    left: 0;
    top: 35px;
}
.sign-up-header-log-in{
    float: right;
}
.green-link{
    text-decoration: none;
    text-transform: capitalize;
    color: #3CB878;
}
.btn-zone{
    margin-top: 18px;
}
.btn{
    width: calc(100%/2 - 2px);
    float: left;
    border-radius: 4px;
}
.btn-sprite{
    display: inline-block;
    margin: 14px 0;
    padding: 0 12px;
}
.btn-text{
    text-transform: capitalize;
    color: white;
    display: inline-block;
    padding-bottom: 17px;
}
.facebook:before {
    content: " ";
    font-size: 17px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    margin-right: 20px;
}
.facebook-btn{
    background: #305DB8;
}
.google:before {
    content: " ";
    font-size: 17px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    margin-right: 30px;
}
.google-btn{
    background: #DF4A32;
    float: right;
}
.or-before-form{
    font-size: 14px;
    text-align: center;
    margin: 20px auto 15px;
    position: relative;
}
.or-before-form:before{
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    display: inline-block;
    width: 135px;
    font-size: 7px;
    border-top: 1px solid #848484;
}
.or-before-form:after {
     content: "";
     position: absolute;
     top: 7px;
     left: 187px;
     display: inline-block;
     width: 135px;
     font-size: 7px;
     border-top: 1px solid #848484;
 }
input[type=text], input[type=password], input[type=email]{
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    font-size: 14px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    color: #434343;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
}
.create-account-btn {
    background-color: #3CB878;
    color: white;
    padding: 16px 20px;
    margin-top: 30px;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border: none;
    border-radius: 4px;
}
.create-account-btn:hover {
    opacity:1;
}
.terms-conditions{
    margin-top: 22px;
    margin-left: 10px;
    display: inline-block;
    color: #434343;
    font-size: 14px;
}
.clearfix:after{
    content: '';
    height: 0;
    display: block;
    clear: both;
}
