
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
body{
    /*font-size: 30px;*/
}
.some-grid{
    margin: 20px;
    padding-left: 0;
    list-style: none;

    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 200px;
    grid-template-columns: 200px 1fr 3fr 1fr ;
}
.some-grid__item{

}
.main-container{
    width: 1170px;
    margin: 0;
    padding: 0;
}
.service{
    display: grid;
    grid-auto-flow: row;
}
.section-header{
    text-align: center;
}
.services__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    padding-left: 0;
    grid-gap: 0 28px;
}
.section{
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: sans-serif;
}
.posts__list{
    padding-left: 0;
    list-style: none;
    display: grid;
   /* grid-auto-flow: row;*/
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    align-items: start;
}
.posts{ width: 370px;

}
.post__title{
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    justify-content: start;
    grid-column-gap: 8px;
}
.post__edit{
    width: 39px;
    height: 35px;
    display: flex;
    background-color: #333333;

}
.post__list{
    text-decoration: none;
    color: inherit;
}
.post__edit-icon{margin: auto}
.post__intro{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #505050;
}
.post__meta{
    border-top: 1px solid #c1c1c1;
    border-bottom: 6px solid #333333;
    padding: 14px 4px 11px;
    font-size: 12px;
    text-transform: uppercase;
    color: rgb(130, 130, 130);
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

.post_date{
}
.post__read-more{
    text-decoration: none;
    color: inherit;
}