*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main-container{
    width: 1145px;
    margin: 0 auto;
}
.nav-top{
    /*text-align: center;*/
    padding: 30px 0;
}
.article-img{
    width: 100%;
    object-fit: cover;
}
/*.article{
    text-align: center;
}*/
.nav-top-bar{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
.nav-top-item{

}
.nav-top-link{
    margin: 20px 30px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: crimson;
}
.about{
   /* display: flex;
    justify-content: center;*/
}
.about .main-container{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.article-title{
    padding: 30px 0;
    text-transform: uppercase;;
    letter-spacing: 3px;
}
.content-text{
    font-size: 16px;
    margin:20px 0;
    line-height: 1.5;
    letter-spacing: 3px;
    text-align: center;
}
.article-submit{
    margin-top: 40px;
    display:inline-block;
    padding: 20px 35px;
    font-size: 12px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background-color: crimson;
}
.copyright-wrap{
    padding: 30px 0;
}
.main-container .copyright{
    display: flex;
    justify-content: flex-end;
}
.copyright{
    letter-spacing:2.4px;
    font-weight: bold;
    font-size: 16px;
}
