*{
    margin: 0;
    font-family: "Roboto", sans-serif;
}
.page-bg {
    background: url("../img/main-top-background.jpg") center no-repeat;
    padding-top: 50px;
    padding-bottom: 15px;
    background-size: cover;
    height: 100vh;
    overflow-y: scroll;
}
.container{
    width: 1020px;
    margin: 0 auto;
}
.logo:hover .logo-img{
    content: url("../img/logo-orange.png");
}
.logo-img{
    float: left;
}
.text-logo{
    float: left;
    padding-left: 5px;
    margin: 0;
    color:white;
    text-transform: uppercase;
    font-weight: normal;
}
.logo:hover .text-logo{
    color: #F26522;
}
.text-logo-bigger{
    font-size: 29px;
    display: block;
}
.text-logo-smaller{
    font-size: 18px;
}
.top-info-zone{
    float: right;
    text-align: right;
    color: white;
}
.top-info-zone-contacts{
    margin-bottom: 8px;
    display: block;
    color: white;
    text-decoration: none;
}
.top-info-zone-contacts:nth-child(2){
    margin-bottom: 0;
    display: inline-block;
}
.top-info-zone-contacts:hover{
    color: #F26522;
}
.main-gallerry{
    margin-top: 30px;
}
.main-gallery-item{
    float: left;
    display:inline-block;
    width: calc(100%/3 - 40px);
    margin-right: 60px;
    margin-bottom: 40px;
    text-decoration: none;
}
.main-gallery-item:nth-child(3n){
    margin-right: 0;
}
.main-gallery-item-padding{
    padding-top: 165px;
}
.main-gallery-shopping-bg{
    background: url("../img/shopping-tours.jpg") center no-repeat;
    background-size: cover;
}
.main-gallery-sightseeing-bg{
    background: url("../img/sightseeing-tours.jpg");
}
.main-gallery-food-bg{
    background: url("../img/food-tours.jpg");
}
.main-gallery-bars-bg{
    background: url("../img/bars-nightlife.jpg");
}
.main-gallery-art-bg{
    background: url("../img/art-architecture.jpg");
}
.main-gallery-walking-bg{
    background: url("../img/walking-tours.jpg");
}
.main-gallery-item-text{
    text-align: center;
    text-transform: capitalize;
    margin-top: 15px;
    color: white;
}
.details{
    font-size: 18px;
    background-color: #F26522;
    opacity: 0;
    padding: 10px;
    color: white;
}
.details-price{
    float: left;
    font-size: 20px;
}
.details-price::before{
    content: 'from';
    font-size: 10px;
    display: block;
    padding-bottom: 5px;
}
.details-link{
    float: right;
    padding-top: 20px;
    text-transform: capitalize;
    font-size: 14px;
}
.details-link::after {
    display: inline-block;
    content: '';
    width: 5px;
    height: 5px;
    border: 2px solid transparent;
    border-top-color: white;
    border-right-color: white;
    transform: rotate(45deg);
    margin-left:10px;
}
.main-gallery-item:hover .details{
    opacity: 1;
}
.main-gallery-item:hover .main-gallery-item-text{
    color: #F26522;
}
.copyright{
    text-align: center;
    font-size: 12px;
    color: white;
}
.clearfix:after{
    content: '';
    height: 0;
    display: block;
    clear: both;
}
