*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Droid Sans", arial, verdana, sans-serif;
    letter-spacing: -3px;
    color: #f5da2a;
    background-color: #000;
}
.container{
    width: 85%;
    margin: 0 auto;
}
.titles {
    position: absolute;
    width: 85%;
    height: 250%;
    bottom: 0;
    font-size: 400%;
    font-weight: bold;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(400px) rotateX(30deg);
}
.titles-content {
    text-align: center;
    position: absolute;
    animation: scroll 30s linear 0s infinite;
}
.title-header, .titles-title{
    text-transform: uppercase;
    margin: 100px auto;
}
.titles-text{
    margin: 100px auto;
    text-align: justify;
}
@keyframes scroll {
    0% { top: 100%; }
    100% { top: 0; }
}