*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main-container{
    width: 1280px;
    margin: 0 auto;
}
.head-zone{
    margin: 50px auto;
}
.header-company-name{
    display: inline-block;
    font-size: 80px;
    text-decoration: none;
    color: black;
    margin-bottom: 40px;
}
.text-blue{
    color: #4bcaff;
}
.nav-top{
    background-color: #35444f;
    text-align: center;
}
.nav-top-link{
    display: inline-block;
    font-size: 18px;
    padding: 25px;
    border-left: solid 1px black;
    vertical-align: top;
    color: white;
}
.nav-top-link-last{
    border-right: solid 1px black;
}
.sidebar{
    width: 350px;
    border: black solid 1px;
    display: inline-block;
    vertical-align: top;
}
.sidebar-link{
    display: block;
    font-size: 27px;
    padding: 20px 40px ;
    color: black;
}
.main-content{
    display: inline-block;
    margin-left: 33px;
    width: 890px;
}
.content-img-wrapper{
    padding: 80px 300px;
    border: black solid 1px;
 }
.content-img{
    width: 100%;
}
.content-text{
    font-size: 18px;
    margin:30px 0;
    line-height: 1.5;
}
.footer-zone{
    padding: 25px 30px;
    background-color: rgba(99, 105, 110, 0.48);
}
.bottom-nav{
display: inline-block;
}
.bottom-nav-link{
    display: inline-block;
    font-size: 24px;
    margin: 0 15px;
    color: black;
}
.copyright{
    margin-left: 305px;
    display: inline-block;
    font-size: 20px;
}