.header-page-bg {
    background: url(../img/header_bg_img.png) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.header {
    background-color: #313131;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
}
.logo-icon {
    margin: 20px;
}
.logo-text {
    font-weight: bold;
    font-size: 22px;
    color: #FFFFFF;
    cursor: pointer;
}
.navbar {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-link {
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}
.navbar-link:hover {
    color: #14B9D5;
}
.navbar-link:nth-last-child(1){
    margin-right: 0;
}
.search-icon {
    padding: 25px;
    background: black;
    cursor: pointer;
}
.main-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px 0 74px;
}
.main-body-text {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 27px;
    color: #FFFFFF;
    margin-bottom: 44px;
}
.button {
    width: 170px;
    height: 55px;
    background-color: #89CA62;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.button:nth-child(2){
    background-color: #14B9D5;
    margin-left: 20px;
}
.button-text {
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    padding: 15px;
}
.popular-posts {
    font-family: 'Open Sans', sans-serif;
    background-color: #F2F2F2;
    background-size: cover;
    padding: 50px 0 100px 0;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.header-text {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 27px;
    color: #18B4CF;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap; height: 775px;
}
.main-link {
    max-width: calc(100% / 3);
    text-decoration: none;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}
.main-link:nth-child(2){
    height: 425px;
}
.main-link:nth-child(5){
    margin-right: 0;
}
.main-link:nth-child(6){
    height: 395px;
    margin-right: 0;
}
.main-text {
    font-weight: bold;
    font-size: 18px;
    color: #353A3D;
    text-align: center;
    background-color: white;
    padding: 20px 0;
}
.popular-clients {
    background: url(../img/hotel-building-img.jpeg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 200px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 100px 250px;
}
.popular-clients-header {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    color: white;
    grid-column: span 4;
    text-align: center;
    position: relative;
}
.popular-clients-header::after {
    content: '';
    border: 1px solid transparent;
    border-bottom-color: #18B4CF;
    display: block;
    width: 60px;
    position: relative;
    top: 80px;
    left: 200px;
}
.popular-clients-link {
    text-align: center;
}
.top-rated {
    font-family: 'Open Sans', sans-serif;
}
.top-rated-header {
    font-weight: bold;
    font-size: 27px;
    color: #18B4CF;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.top-rated-main {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.top-rated-img {
    width: 100%;
}
.hot-news {
    font-family: 'Open Sans', sans-serif;
}
.hot-news-header {
    font-weight: bold;
    font-size: 27px;
    text-transform: uppercase;
    color: #18B4CF;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
}
.hot-news-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.item-header {
    font-weight: bold;
    font-size: 18px;
    color: #353A3D;
    text-align: right;
    padding: 40px 25px 15px 25px;
}
.item-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    text-align: right;
    padding: 0 15px;
}
.hot-news-item-img {
    width: 100%;
}
.hot-news-item-gorizontal {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 3fr 2fr;
    background-color: #F9F7F7;
}
.hot-news-item-base {
    background-color: #F9F7F7;
}
.item-base-header {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #353A3D;
    padding: 25px 0;
}
.hot-news-item-vertical {
    grid-column: span 2;
    background-color: #F9F7F7;
}
.footer {
    background: #000000;
    font-family: 'Open Sans', sans-serif;
    margin-top: 70px;
}
.footer-main {
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
.footer-text {
    font-size: 13px;
    color: #FFFFFF;
}
.footer-link {
    text-decoration: none;
}
.footer-logo-text {
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}