*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.top-header{
    background-color: #313131;
}
.top-header-nav{
    margin-left: 30px;
    align-items: center;
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.header-company{
    text-decoration: none;
}
.header-company-logo{
    vertical-align: middle;
    margin-right: 30px;
}
.header-company-name{
    color: #FFFFFF;
    text-transform: capitalize;
    vertical-align: middle;
    font-size: 22px;
    font-weight: bold;
}
.header-nav-bar{
   display: flex;
    width: 48%;
    justify-content: space-between;
}
.header-nav-bar-item {
    display: inline-block;
}
.header-nav-bar-link{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    color: #FFFFFF;
}
.header-nav-bar-link:hover{
    color: #14B9D5;
}
.header-search{
    background-color: #000000;
    display: inline-block;
    padding:30px;
    text-decoration: none;
}
.icons{
    font-family: 'FontAwesome', sans-serif;
    color: #FFFFFF;
    font-size: 17px;
    font-style: normal;
}
.top-bg-img {
    background: url("../img/header_bg_img.png") center no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 370px;
    background-size: cover;
}
.top-bg-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-bg-btn-container{
    display: flex;
}
.top-bg-btn-item{
    width: 170px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-right: 20px;
}
.top-bg-btn-item:last-of-type{
    margin-right: 0;
}
.btn{
    display: inline-block;
    width: 100%;
    background-color: #89CA62;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 75px;
    padding: 20px 0;
    border-radius: 5px;
}
.btn-blue {
    background-color: #14B9D5;
}
.main-container{
    background-color: #F2F2F2;
}
.title{
    font-size: 27px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    margin: 50px auto;
}
.title-blue{
    color: #18B4CF;
}
.container .title{
    padding-top: 50px;
    margin-top: 0;
}
.gallery {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    height: 860px;
}
.gallery-item {
    background-color: #FFFFFF;
    width: calc(100%/3 - 20px);
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.gallery-img {
    width: 100%;
}
.gallery-item-text, .hot-news-title{
    color: #353A3D;
    font-size: 18px;
    text-align: center;
    margin: 20px auto;
}
.center-bg-img {
    background: url("../img/most_popular_clients_bg.png") center no-repeat;
    margin-top: 75px;
    width: 100%;
    background-size: cover;
    text-align: center;
}
.main-title{
    color: #FFFFFF;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
}
.gap-btw-block{
    font-size: 0;
    width: 60px;
    border: 2px solid #18B4CF;
    margin: 0 auto;
}
.most-popular-clients-list, .top-rated-list, .hot-news-list {
    list-style: none;
    text-align: center;
}
.most-popular-clients-item, .top-rated-item, .hot-news-item {
    display: inline-block;
}
.top-rated-list{

}
.hot-news-item{
    color: #353A3D;
}
.bottom-footer{
    background-color: #000000;

}
.footer-copyright{
    color: #FFFFFF;
    font-size: 13px;
    display: inline-block;
}
.footer-logo{
    display: inline-block;
}

/*.hero-img {*/
/*    width: 100%;*/
/*    height: 789px;*/
/*    object-fit: cover;*/
/*}*/

/*.list {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    list-style: none;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    flex-wrap: wrap;*/
/*    height: 300px;*/
/*    align-content: flex-start;*/
/*}*/
/*.list-item {*/
/*    background-color: hotpink;*/
/*    padding: 30px;*/
/*    width: 150px;*/
/*    height: 150px;*/
/*    border: 1px solid #000;*/

/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.list-item:nth-child(odd) {*/
/*    height: 100px;*/
/*}*/
/*.list-item:nth-child(4) {*/
/*    height: 120px;*/
/*}*/
/*.list-item:nth-child(1) {*/
/*    width: 300px;*/
/*    height: 300px;*/
/*}*/
